body {
    font-family: 'Poppins', sans-serif;

    background:
        linear-gradient(to right, rgba(116,235,213,0.9), rgba(172,182,229,0.9)),
        url("circuit.png");

    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 800px;
    margin: 40px auto;

    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(8px);

    padding: 25px;
    border-radius: 4px;

    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.5);

    transition: 0.3s;
}

.container:hover {
    transform: scale(1.01);
}

h1 {
    font-family: monospace;
    text-align: center;
    color: #222;
    letter-spacing: 1px;
    font-size: 26px;
}

h1::before {
    content: "> ";
    color: #2196F3;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    font-size: 18px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    padding: 8px;

    background-color: #f4f6f8;
    border-left: 5px solid #2196F3;

    border-radius: 3px;
}

li:hover {
    background-color: #e3f2fd;
}

img {
    margin: 15px 0;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.download {
    text-align: right;
}

.download a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 16px;

    background-color: #2196F3;
    color: white;

    text-decoration: none;

    /* kockásabb */
    border-radius: 4px;

    font-weight: bold;

    transition: 0.3s;
}

.download a:hover {
    background-color: #1976D2;
    transform: scale(1.05);
}

@media (max-width: 500px) {
    h1 {
        font-size: 20px;
    }

    .container {
        margin: 20px;
        padding: 15px;
    }
}